ion-content ion-toolbar {
  --background: translucent;
}

.customItem {
  background-color: transparent !important;
  width: 95vw;
  margin-left: 2.75vw !important;
  margin-top: .5vh;
}

.customList{
  background-color: transparent !important;
}