ion-content ion-toolbar {
  --background: translucent;
}

.randomBooks {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.randomBooksWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}