ion-content {
  --background: translucent;
}

.randomBooksWrapper {
  height: 40vh;
  display: flex !important;
  flex-wrap: wrap !important;
  flex-direction: row !important;
  justify-content: center !important;
  margin-top: 10vh !important;
}

.refreshButton {
  display: flex !important;
  width: 15vw;
  flex-direction: column;
  margin-top: 10vh !important;
  margin-left: 42.5vw !important;
}